@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>

<div class="container">
    @using (Html.BeginForm())
    {
    @Html.HiddenFor(model => model.StylistId)
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    
    <input type="submit" value="Add new client" class="btn btn-primary" />
    }
</div>

<p>@Html.ActionLink("Show all stylists", "Index", "Stylists")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>